<div class="container-fluid">
    <mat-card class="matcard">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="head">Raw Material Purchase</h2>
                </div>
            </div>
            <form #tableTop [formGroup]="rawMaterialPurchaseForm" (ngSubmit)="save()">
                <div class="row ml-3">
                    <div class="col-sm-4" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">Supplier Name<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <mat-form-field>
                                <mat-label>Supplier Name</mat-label>
                                <mat-select (valueChange)="setSupplierDetails(advw.value)"
                                    [ngClass]="{'is-invalid':rawMaterialPurchaseForm.controls.supplierid.touched && rawMaterialPurchaseForm.controls.supplierid.errors}"
                                    formControlName="supplierid" #advw required>
                                    <mat-form-field>
                                        <input matInput type="text" #auval (input)="suggest(auval.value)"
                                            placeholder="Search...">
                                    </mat-form-field>

                                    <mat-option [value]="option.supplierid" *ngFor="let option of suggestions">
                                        {{option.supplier_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-sm-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">Date<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input [min]="ActiveFinYr && ActiveFinYr.length > 0 ? ActiveFinYr[0].fromdate : null"
                                [max]="ActiveFinYr && ActiveFinYr.length > 0 ? ActiveFinYr[0].todate : null"
                                [ngClass]="{'is-invalid': rawMaterialPurchaseForm.controls.date.touched && rawMaterialPurchaseForm.controls.date.errors}"
                                class="form-control" formControlName="date" type="date" required />
                        </div>
                    </div>

                    <div class="col-sm-4" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">Supplier Bill No<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':rawMaterialPurchaseForm.controls.supplier_bill_no.touched && rawMaterialPurchaseForm.controls.supplier_bill_no.errors}"
                                formControlName="supplier_bill_no" class="form-control" type="text" required />
                        </div>
                    </div>
                </div>
                <div class="row ml-3 mt-3">
                    <div class="col-sm-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">Bill No<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':rawMaterialPurchaseForm.controls.bill_no.touched && rawMaterialPurchaseForm.controls.bill_no.errors}"
                                class="form-control" formControlName="bill_no" type="text" required readonly />
                        </div>
                    </div>

                    <div class="col-sm-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">GST IN<span class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':rawMaterialPurchaseForm.controls.gst_in.touched && rawMaterialPurchaseForm.controls.gst_in.errors}"
                                formControlName="gst_in" class="form-control" type="text" readonly required />
                        </div>
                    </div>

                    <div class="col-sm-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">Balance</label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="c_balance" readonly class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="col-sm-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2" style="margin: auto">Credit Day's</label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':rawMaterialPurchaseForm.controls.credit_days.touched && rawMaterialPurchaseForm.controls.credit_days.errors}"
                                formControlName="credit_days" class="form-control" type="text" required />
                        </div>
                    </div>
                </div>

                <div class="table-responsive mt-4">
                    <table class="col-sm-12 table table-bordered">
                        <thead class="tablehead">
                            <tr>
                                <th>#</th>
                                <th>Brand Name</th>
                                <th>Item Name</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Qty</th>
                                <th>Total</th>
                                <th>Total GST</th>
                                <th>Net Total</th>
                                <th style="font-size: 11px;">Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="purchase_nested">
                            <tr *ngFor="let chid of getCommonControls(); let i = index" formGroupName="{{i}}">
                                <td>{{i+1}}</td>
                                <td style="min-width: 150px;"><select
                                        [ngClass]="{'is-invalid': isBrandControlInvalid(i)}" (change)="getItemchange(i)"
                                        formControlName="brandid" class="form-control" required>
                                        <option disabled [ngValue]="null" selected>Please select</option>
                                        <option [ngValue]="item.brandid" *ngFor="let item of brandList">
                                            {{item.brand_name}}</option>
                                    </select>
                                </td>
                                <td style="min-width: 150px;">
                                    <select (change)="setHsn(i)" [ngClass]="{'is-invalid': isItemControlInvalid(i)}"
                                        formControlName="itemid" class="form-control" required>
                                        <option disabled [ngValue]="null" selected>Please select</option>
                                        <option [ngValue]="item.itemid"
                                            *ngFor="let item of newItemList[chid.get('brandid')?.value]">
                                            {{item.item_name}}</option>
                                    </select>
                                </td>
                                <td style="min-width: 120px;"><input (input)="colculation(i)"
                                        (change)="changeInputTwoDigit(i)"
                                        [ngClass]="{'is-invalid': isPriceControlInvalid(i)}" formControlName="price"
                                        class="form-control" required></td>
                                <td style="min-width: 90px;">
                                    <div class="input-group mb-3">
                                        <input (input)="colculation(i)"
                                            [ngClass]="{'is-invalid': isDiscountControlInvalid(i)}" type="text"
                                            formControlName="discount" class="form-control" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="min-width: 100px;"><input (input)="colculation(i)"
                                        [ngClass]="{'is-invalid': isQtyControlInvalid(i)}" formControlName="qty"
                                        class="form-control" required></td>
                                <td style="min-width: 140px;"><input formControlName="total" class="form-control"
                                        readonly></td>
                                <td>{{+chid.get('cgst_amount')?.value + +chid.get('sgst_amount')?.value +
                                    +chid.get('igst_amount')?.value}}</td>
                                <td style="min-width: 140px;"><input formControlName="net_total" class="form-control"
                                        readonly></td>
                                <td style="padding:0px"><mat-icon (click)="addNesForm()"
                                        style="color: green;cursor: pointer;">add_circle</mat-icon>
                                    <mat-icon *ngIf="chid.get('purchase_n_id')?.value==0" (click)="removeNesForm(i)"
                                        style="color: red;cursor: pointer;">remove_circle</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <th style="text-align: right;font-size: 17px;" class="pr-5 head" colspan="8">Total</th>
                                <td><input formControlName="total" class="form-control" readonly></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="display: flex;">
                        <div style="margin: auto;">
                            <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm">
                                <span> {{ rawMaterialPurchaseForm.value.purchaseid ==0 ? 'Save' :
                                    'Edit'}}</span></button>
                            <input type="button" style="width: 80px;" (click)="cancelClick()"
                                class="btn btn-primary mr-3 btn-sm" value="Clear" />
                            <input type="button" style="width: 80px;" class="btn btn-danger btn-sm"
                                (click)="backButton()" value="Close" />
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-3 matcardlist">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-12" style="display: flex;">
                    <div>
                        <input #ds (change)=" getRawMAtrialList(ds.value)" style="max-width: 180px;" type="date"
                            class="form-control" />
                    </div>
                    <div>
                        <button class="btn btn-info ml-2" (click)="getRawMAtrialList('All')">GET All DATE</button>
                    </div>
                </div>
                <div class="table-responsive mt-2">
                    <table class="table table-striped col-sm-12 mt-2">
                        <thead class="tableheadList">
                            <tr>
                                <th style="text-align: left;">Supplier Name</th>
                                <th>Date</th>
                                <th>Supplier Bill No</th>
                                <th>Bill No</th>
                                <th>Credit Day's</th>
                                <th>Total Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of rawMaterialList;let i=index">
                                <td style="text-align: left;">{{item.supplier_name}}</td>
                                <td>{{item.date}}</td>
                                <td>{{item.supplier_bill_no}}</td>
                                <td>{{item.bill_no}}</td>
                                <td>{{item.credit_days}}</td>
                                <td>{{item.total}}</td>
                                <td>
                                    <!-- <button class="btn btn-sm btn-success" (click)="getReport(item)">
                                        Preview
                                    </button> -->
                                    <mat-icon class="mr-1" style="cursor: pointer;color: blue;" title="Click to edit"
                                        (click)="update(item)">edit</mat-icon>

                                    <mat-icon class="ml-1" style="cursor: pointer;color: red;" title="Click to delete"
                                        (click)="deleteFun(item.purchaseid)">delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>