<div class="container-fluid">
    <mat-card class="matcard mt-3">
        <mat-card-content>
            <div class="row">
                <div class="col-12">
                    <h2 class="ml-1 head">Receipt</h2>
                </div>
            </div>
            <form [formGroup]="paymentsForm" (submit)="save()">

                <div style="display: flex;justify-content: end;">
                    <div>
                        <button type="submit" style="width: 80px"
                            class="btn btn-success mr-3 btn-sm mt-2">
                            Save
                        </button>
                        <input type="button" style="width: 80px"
                            (click)="cancelClick()"
                            class="btn btn-primary mr-3 btn-sm mt-2"
                            value="Clear" />
                        <input type="button" style="width: 80px"
                            class="btn btn-danger btn-sm mt-2"
                            (click)="backButton()"
                            value="Close" />
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead class="tablehead">
                            <tr>
                                <th>Si No</th>
                                <th>Customer Name<span class="text-danger">*</span></th>
                                <th>Date<span class="text-danger">*</span></th>
                                <th>Bank<span class="text-danger">*</span></th>
                                <th>Amount<span class="text-danger">*</span></th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="customerpayment_nested">
                            <tr
                                *ngFor="let chid of getCommonControls(); let i = index"
                                formGroupName="{{ i }}">
                                <td>{{ i + 1 }}</td>
                                <td>
                                    <select formControlName="customerid"
                                        class="form-control" [ngClass]="{'is-invalid': isSupplierInvalid(i)}" required>
                                        <option disabled selected [ngValue]=null>Please
                                            Select</option>
                                        <option
                                            *ngFor="let option of suggestions"
                                            [ngValue]="option.customerid">{{option.customer_name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="date"
                                        formControlName="date" [ngClass]="{'is-invalid': isDateInvalid(i)}" required />
                                </td>
                                <td>
                                    <select formControlName="bankid"
                                        class="form-control" required>
                                        <option [ngValue]=0>Not From Bank</option>
                                        <option
                                            *ngFor="let bank of bankList"
                                            [ngValue]="bank.bankid">{{bank.bank_name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="text"
                                        formControlName="amount" [ngClass]="{'is-invalid': isAmountInvalid(i)}" required />
                                </td>
                                <td>
                                    <input class="form-control" type="text"
                                        formControlName="description" />
                                </td>
                                <td><mat-icon (click)="addNesForm()"
                                        style="color: green; cursor: pointer">add_circle</mat-icon>
                                    <mat-icon
                                        (click)="removeNesForm(i)"
                                        style="color: red; cursor: pointer">remove_circle</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="matcard mt-4">
        <mat-card-content>
            <div class="row">

                <div class="table-responsive col-sm-12">

                    <div>
                        <input #dayVal (change)="getReport(dayVal.value)"
                            type="date" style="width: 200px;"
                            class="form-control m-2" />
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead class="tableheadList">
                            <tr>
                                <th>Si No</th>
                                <th>Payment Date</th>
                                <th>Customer Name</th>
                                <th>Bank Name</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of customerPayment; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{getFormattedDate(item.date)}}</td>
                                <td>{{ item.customer_name }}</td>
                                <td>{{item.bank_name}}</td>
                                <td>{{item.deduction_amount}}</td>
                                <td>{{item.description}}</td>
                                <td class="disnon"><button
                                        class="btn btn-sm btn-danger"
                                        (click)="deleteClick(item.paymentid)">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>