<div class="container-fluid">
    <mat-card class="mt-2 matcard mb-2">
        <mat-card-content>
            <div class="row">
                <div #tableTop class="col-12">
                    <h2 class="ml-1 head">Purchase Product Master</h2>
                </div>
            </div>
            <form [formGroup]="nProductMasterForm" (ngSubmit)="Save()">
                <div class="row ml-3">
                    <div class="col-sm-4 mt-3" style="display: flex">
                        <div class="labeldiv">
                            <label>Purchase Product Name<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input
                                [ngClass]="{'is-invalid':nProductMasterForm.controls.n_product_name.touched && nProductMasterForm.controls.n_product_name.errors}"
                                class="form-control"
                                formControlName="n_product_name" type="text"
                                required />

                            <span class="text-danger"
                                *ngIf="nProductMasterForm.controls.n_product_name.touched && nProductMasterForm.controls.n_product_name.errors">
                                <div
                                    *ngIf="nProductMasterForm.controls.n_product_name.touched && nProductMasterForm.controls.n_product_name.errors['required']">
                                    Purchase Product Name is required
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2">Price <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="price"
                                [ngClass]="{'is-invalid':nProductMasterForm.controls.price.touched && 
                          nProductMasterForm.controls.price.errors}"
                                class="form-control" required />
                        </div>
                    </div>

                    <div class="col-sm-4 mt-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2"> Unit Code<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <select class="form-control" required
                                formControlName="unitid"
                                [ngClass]="{'is-invalid':nProductMasterForm.controls.unitid.touched && 
                          nProductMasterForm.controls.unitid.errors}">
                                <option [ngValue]="null" selected disabled>
                                    -- Please select --
                                </option>
                                <option *ngFor="let item of unitMasterList"
                                    [ngValue]="item.unitid">
                                    {{ item.unit_code }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 ml-3">
                    <div class="col-sm-4 mt-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2"> Item Group <span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="inputdiv">
                            <select class="form-control" required
                                formControlName="item_groupid"
                                (change)="updateHsnIdGstId()" [ngClass]="{
                            'is-invalid':
                            nProductMasterForm.controls.item_groupid.touched &&
                            nProductMasterForm.controls.item_groupid.errors
                        }">
                                <option [ngValue]="null" selected disabled>
                                    -- Please select --
                                </option>
                                <option *ngFor="let item of itemGroupList"
                                    [ngValue]="item.item_groupid">
                                    {{ item.item_group_name }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2">
                                HSN/SAC <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="inputdiv">
                            <input formControlName="hsn_number"
                                class="form-control" readonly />
                        </div>
                    </div>

                    <div class="col-sm-4 mt-3" style="display: flex">
                        <div class="labeldiv">
                            <label class="pt-2">
                                GST % <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="input-group inputdiv">
                            <input formControlName="gst_percentage"
                                class="form-control" readonly />
                            <div class="input-group-append">
                                <span class="input-group-text"
                                    style="height: fit-content">%</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-sm-6">
                        <div class="d-flex justify-content-center">
                            <div
                                style="width: 250px; display: flex; align-items: center;">
                                <input type="submit" style="width: 80px"
                                    class="btn btn-success mt-4 btn-sm mr-3"
                                    value="{{ nProductMasterForm.value.n_productid ==0 ? 'Save' : 'Edit'}}" />
                                <input (click)="cancelClick()" type="button"
                                    style="width: 80px"
                                    class="btn btn-info mt-4 btn-sm mr-3"
                                    value="Clear" />
                                <input (click)="backButton()" type="button"
                                    style="width: 80px"
                                    class="btn btn-danger btn-sm mt-4"
                                    value="Close" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-3 matcardlist">
        <mat-card-content>
            <div class="table-responsive">
                <table
                    class="col-sm-12 table table-hover table-bordered table-sm">
                    <thead class="tableheadList">
                        <tr>
                            <th>S.No</th>
                            <th style="text-align: left;">Purchase Product Name</th>
                            <th style="text-align: left;">Price</th>
                            <th style="text-align: left;">Unit Name</th>
                            <th style="text-align: left;">Hsn Number</th>
                            <th style="text-align: left;">Gst %</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of NestedProductList; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td style="text-align: left;">{{ item.n_product_name
                                }}</td>
                            <td style="text-align: left;">{{ item.price}}</td>
                            <td style="text-align: left;">{{ item.unit_name }}</td>
                            <td style="text-align: left;">{{ item.hsn_number }}</td>
                            <td style="text-align: left;">{{ item.gst_percentage
                                }}</td>
                            <td class="tdoption">
                                <span class="m-2 editbutton text-success  "
                                    (click)="UpdateGetClick(item)"><b
                                        style="cursor:pointer">edit</b></span>
                                <span>||</span>
                                <span class="m-2  deletebutton text-danger"
                                    (click)="deleteClick(item.n_productid)"><b
                                        style="cursor:pointer">delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>