<div class="container-fluid">
    <mat-card class="matcard mt-2">
        <mat-card-content>

            <h2 class="head">Profit & Loss statement</h2>

            <form [formGroup]="reportForm" (ngSubmit)="getReport()">
                <div class="row">
                    <div class="col-sm-3">
                        <div>
                            <label>From Date <span class="text-danger">*</span></label>
                        </div>
                        <div>
                            <input type="date"
                                [ngClass]="{'is-invalid':reportForm.controls.fromdate.touched && reportForm.controls.fromdate.errors}"
                                class="form-control" formControlName="fromdate" required />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div>
                            <label>To Date <span class="text-danger">*</span></label>
                        </div>
                        <div>
                            <input
                                [ngClass]="{'is-invalid':reportForm.controls.todate.touched && reportForm.controls.todate.errors}"
                                class="form-control" type="date" formControlName="todate" required />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="pt-4 pl-4">
                            <button type="submit" class="btn btn-info pl-4 pr-4">Search</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="mt-3 row">
                <div class="table-responsive col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <table class="table table-bordered table-striped">
                        <thead class="tableheadList">
                            <tr>
                                <th>S No</th>
                                <th style="text-align: left;">Description</th>
                                <th style="background-color: #006A4E;text-align: right;">Amount</th>
                                <th style="background-color: #C41E3A;text-align: right;">return</th>
                                <td style="text-align: right;">Net Total</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="text-align: left;">Purchase</td>
                                <td style="text-align: right;">22000.00</td>
                                <td style="text-align: right;">2000</td>
                                <td style="text-align: right;">20000</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td style="text-align: left;">Job Work</td>
                                <td style="text-align: right;">22000.00</td>
                                <td style="text-align: right;">2000</td>
                                <td style="text-align: right;">20000</td>
                            </tr>


                            <tr>
                                <td>3</td>
                                <td style="text-align: left;">Expense</td>
                                <td style="text-align: right;">22000.00</td>
                                <td style="text-align: right;">0</td>
                                <td style="text-align: right;">22000</td>
                            </tr>

                            <tr class="tableheadList">
                                <td colspan="2">Total Expenses - From <span style="font-family: sans-serif;"> 2025-01-01
                                    </span> to <span style="font-family: sans-serif;"> 2025-01-31</span></td>
                                <td style="font-family: sans-serif;text-align: right;">66000.00</td>
                                <td style="font-family: sans-serif;text-align: right;">4000</td>
                                <td style="font-family: sans-serif;text-align: right;">62000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-4">
                    <table class="table table-bordered table-striped">
                        <thead class="tableheadList">
                            <tr>
                                <th>S No</th>
                                <th style="text-align: left;">Description</th>
                                <th style="background-color: #006A4E;text-align: right;">Amount</th>
                                <th style="background-color: #C41E3A;text-align: right;">return</th>
                                <td style="text-align: right;">Net Total</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="text-align: left;">Sales</td>
                                <td style="text-align: right;">42000.00</td>
                                <td style="text-align: right;">2000</td>
                                <td style="text-align: right;">40000</td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td style="text-align: left;">Hand Cash</td>
                                <td style="text-align: right;">2000.00</td>
                                <td style="text-align: right;">0</td>
                                <td style="text-align: right;">2000</td>
                            </tr>

                            <tr class="tableheadList">
                                <td colspan="2">Total Income - From <span style="font-family: sans-serif;"> 2025-01-01
                                    </span> to <span style="font-family: sans-serif;"> 2025-01-31</span></td>
                                <td style="font-family: sans-serif;text-align: right;">44000.00</td>
                                <td style="font-family: sans-serif;text-align: right;">2000</td>
                                <td style="font-family: sans-serif;text-align: right;">42000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive col-sm-12 col-md-12 col-lg-12 col-xl-8 mt-5">
                    <table class="table table-bordered table-striped">
                        <thead class="tableheadList">
                            <tr>
                                <th>S No</th>
                                <th style="text-align: left;">Description</th>
                                <th style="background-color: #006A4E;">Total Income (-) Total Expenses</th>
                                <th style="background-color: #C41E3A;text-align: right;">Amount</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td style="text-align: left;">Profit & Loss <span> (2025-01-01
                                    </span> to <span style="font-family: sans-serif;"> 2025-01-31)</span></td>
                                <td>62000.00 (-) 42000</td>
                                <td style="text-align: right;">+ 20000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>