.matcard {
  box-shadow: 0px 0px 6px 3px lightblue;
}

.matcardlist {
  box-shadow: 0px 0px 6px 3px lightgrey;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.head {
  color: #006A4E;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
}

.tableheadList {
  background-color: #005f69;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}