<div class="container-fluid">
  <mat-card class="mt-2 matcard">
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <h2 class="head">Sales Bill Return<span style="color: orangered">With Out GST</span></h2>
        </div>
      </div>
      <form [formGroup]="salesBillReturnNonGSTDebitForm" (submit)="save()">
        <div class="row ml-3">
          <div class="col-sm-4" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">Customer Name<span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <mat-form-field>
                <mat-label>Customer Name</mat-label>
                <mat-select (valueChange)="setCustomerDetails(advw.value)" [ngClass]="{
                    'is-invalid':
                    salesBillReturnNonGSTDebitForm.controls.customerid.touched &&
                    salesBillReturnNonGSTDebitForm.controls.customerid.errors
                  }" formControlName="customerid" #advw required>
                  <mat-form-field>
                    <input matInput type="text" #auval (input)="suggest(auval.value)" placeholder="Search..." />
                  </mat-form-field>

                  <mat-option [disabled]="salesBillReturnNonGSTDebitForm.value.returndebit_id !=0"
                    [value]="option.customerid" *ngFor="let option of suggestions">
                    {{ option.customer_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">Invoice No <span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <mat-form-field>
                <mat-label>Bill No</mat-label>
                <mat-select #enval (valueChange)="setSalesDetails(enval.value)" [ngClass]="{
                      'is-invalid':
                      salesBillReturnNonGSTDebitForm.controls.entryid.touched &&
                      salesBillReturnNonGSTDebitForm.controls.entryid.errors
                    }" formControlName="entryid" required>
                  <mat-form-field>
                    <input matInput type="text" #bilSug (input)="Billsuggest(bilSug.value)" placeholder="Search..." />
                  </mat-form-field>

                  <mat-option [disabled]="salesBillReturnNonGSTDebitForm.value.returndebit_id !=0"
                    [value]="option.entryid" *ngFor="let option of billNoSuggestions">
                    {{ option.bill_no }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-4" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto"> Invoice Date <span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <input [ngClass]="{
                  'is-invalid':
                    salesBillReturnNonGSTDebitForm.controls.invoice_date.touched &&
                    salesBillReturnNonGSTDebitForm.controls.invoice_date.errors
                }" class="form-control" formControlName="invoice_date" type="date" required />
            </div>
          </div>
        </div>

        <div class="row ml-3">
          <div class="col-sm-4" style="display: flex">
            <div class="labeldiv">
              <label class="pt-1" style="margin: auto">Return No<span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <input readonly formControlName="return_no" required type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-4" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">Return Date<span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <input [ngClass]="{
                  'is-invalid':
                    salesBillReturnNonGSTDebitForm.controls.return_date.touched &&
                    salesBillReturnNonGSTDebitForm.controls.return_date.errors
                }" type="date" formControlName="return_date" required class="form-control">
            </div>
          </div>
        </div>
        <div class="table-responsive scrollme mt-4">
          <table class="col-sm-12 table table-hover table-bordered table-sm table-no-border">
            <thead class="tablehead">
              <tr>
                <th>#</th>
                <th>Ref.Code</th>
                <th>SI Code</th>
                <th>Brand Name</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Dis %</th>
                <th>Qty</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody formArrayName="sales_billReturnDebit_nested">
              <tr *ngFor="let chid of getCommonControls(); let i = index" formGroupName="{{ i }}">
                <td>{{ i + 1 }}</td>
                <td style="min-width: 130px;">
                  <input formControlName="ref_code" class="form-control" required readonly />
                </td>
                <td style="min-width: 130px;">
                  <input [ngClass]="{ 'is-invalid': isSiCodeControlInvalid(i) }" formControlName="si_code" readonly
                    class="form-control" required />
                </td>
                <td style="min-width: 180px;">
                  <select formControlName="brandid" class="form-control" required readonly>
                    <option disabled [ngValue]="null" selected>
                      Please select
                    </option>
                    <option disabled [ngValue]="item.brandid" *ngFor="let item of brandList">
                      {{ item.brand_name }}
                    </option>
                  </select>
                </td>
                <td style="min-width: 180px;">
                  <select formControlName="itemid" class="form-control" required readonly>
                    <option disabled [ngValue]="null" selected>
                      Please select
                    </option>
                    <option disabled [ngValue]="item.itemid" *ngFor="
                        let item of newItemList[chid.get('brandid')?.value]
                      ">
                      {{ item.item_name }}
                    </option>
                  </select>
                </td>
                <td style="min-width: 80px;">
                  <input formControlName="price" class="form-control" required readonly />
                </td>
                <td style="min-width: 80px;">
                  <input (input)="colculation(i)" type="text" formControlName="discount" class="form-control" required
                    readonly />
                </td>
                <td style="min-width: 100px;">
                  <input formControlName="qty" class="form-control" required readonly />
                  <div class="mt-1">
                    <input [ngClass]="{ 'is-invalid': isQtyControlInvalid(i) }" formControlName="return_qty"
                      class="form-control" (input)="colculation(i)" required />
                  </div>
                </td>
                <td style="min-width: 140px;">
                  <input formControlName="total" class="form-control" readonly />
                  <div class="mt-1">
                    <input formControlName="return_total" class="form-control" required readonly />
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th style="text-align: right;color: #005f69;font-family: Georgia, 'Times New Roman', Times, serif;"
                  class="pr-5 pt-3" colspan="8">
                  <b>Total</b>
                </th>
                <td>
                  <input formControlName="total" class="form-control" readonly />
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th style="text-align: right;color: #005f69;font-family: Georgia, 'Times New Roman', Times, serif;"
                  class="pr-5 pt-3" colspan="8">
                  <b>Return Total</b>
                </th>
                <td>
                  <input formControlName="return_total" class="form-control" readonly />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-sm-12" style="display: flex">
            <div style="margin: auto">
              <button type="submit" style="width: 80px" class="btn btn-success mr-3 btn-sm mt-2">
                <span>
                  {{
                  salesBillReturnNonGSTDebitForm.value.returndebit_id == 0 ? "Save" : "Edit"
                  }}</span>
              </button>
              <input type="button" style="width: 80px" (click)="cancelClick()" class="btn btn-primary mr-3 btn-sm mt-2"
                value="Clear" />
              <input type="button" style="width: 80px" class="btn btn-danger btn-sm mt-2" (click)="backButton()"
                value="Close" />
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-3 mb-2 matcardlist">
    <mat-card-content>
      <div class="row">
        <div class="col-sm-12" style="display: flex;">
          <div>
            <input #ds (change)="getSalesBillingNongstDebitList(ds.value)" style="max-width: 180px" type="date"
              class="form-control" />
          </div>
          <div>
            <button class="btn btn-info ml-2" (click)="getSalesBillingNongstDebitList('All')">GET All DATE</button>
          </div>
        </div>

        <div class="table-responsive mt-2">
          <table class="table table-hover table-bordered col-sm-12">
            <thead class="tableheadList">
              <tr>
                <th>Customer Name</th>
                <th>Bill Date</th>
                <th>return Date</th>
                <th>Invoice No</th>
                <th>Return Qty</th>
                <th>Return Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of salesBillingNongstDebitList; let i = index">
                <td>{{ item.customer_name }}</td>
                <td>{{item.bill_date}}</td>
                <td>{{ item.return_date }}</td>
                <td>{{ item.invoice_no }}</td>
                <th>{{item.return_qtyn}}</th>
                <td>{{ item.return_totaln }}</td>
                <td class="d-flex">
                  <button class="btn btn-sm btn-success" (click)="getReport(item)">
                    Preview
                  </button>
                  <button class="btn btn-sm ml-1 btn-primary" (click)="update(item)">
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>