<div class="container-fluid">
  <mat-card class="mt-2 matcard mb-2">
    <mat-card-content>
      <div class="row">
        <div #tableTop class="col-12">
          <h2 class="ml-1 head">Item Master</h2>
        </div>
      </div>
      <form [formGroup]="itemMasterDetails" (submit)="save()">
        <div class="row ml-3">
          <!-- <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">
                Item Code <span class="text-danger">*</span>
              </label>
            </div>
            <div class="inputdiv" *ngFor="let code of MaxId">
              <input class="form-control" type="text" [placeholder]="
                  (code.itemid < 10 ? '00' : code.itemid < 100 ? '0' : '') +
                  code.itemid
                " readonly required />
            </div>
          </div> -->
          <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto"> Brand Name<span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <select class="form-control" required formControlName="brandid" [ngClass]="{
                'is-invalid':
                    itemMasterDetails.controls.brandid.touched &&
                    itemMasterDetails.controls.brandid.errors
            }">
                <option [ngValue]="null" selected disabled>
                  -- Please select --
                </option>
                <option *ngFor="let item of brandList" [ngValue]="item.brandid">
                  {{ item.brand_name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ml-3">
          <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">
                Item Name <span class="text-danger">*</span>
              </label>
            </div>
            <div class="inputdiv">
              <input [ngClass]="{
                  'is-invalid':
                    itemMasterDetails.controls.item_name.touched &&
                    itemMasterDetails.controls.item_name.errors
                }" formControlName="item_name" class="form-control" type="text" required />
              <span class="text-danger" *ngIf="
                  itemMasterDetails.controls.item_name.touched &&
                  itemMasterDetails.controls.item_name.errors
                ">
                <div *ngIf="
                    itemMasterDetails.controls.item_name.touched &&
                    itemMasterDetails.controls.item_name.errors['required']
                  ">
                  Item Name is required
                </div>
              </span>
            </div>
          </div>
          <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto"> Unit Code<span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <select class="form-control" required formControlName="unitid" [ngClass]="{
                'is-invalid':
                    itemMasterDetails.controls.unitid.touched &&
                    itemMasterDetails.controls.unitid.errors
            }">
                <option [ngValue]="null" selected disabled>
                  -- Please select --
                </option>
                <option *ngFor="let item of unitMasterList" [ngValue]="item.unitid">
                  {{ item.unit_code }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row ml-3">
          <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto"> Item Group <span class="text-danger">*</span></label>
            </div>
            <div class="inputdiv">
              <select class="form-control" required formControlName="item_groupid" (change)="updateHsnIdGstId()"
                [ngClass]="{
                  'is-invalid':
                      itemMasterDetails.controls.item_groupid.touched &&
                      itemMasterDetails.controls.item_groupid.errors
              }">
                <option [ngValue]="null" selected disabled>
                  -- Please select --
                </option>
                <option *ngFor="let item of itemGroupList" [ngValue]="item.item_groupid">
                  {{ item.item_group_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">
                HSN/SAC <span class="text-danger">*</span>
              </label>
            </div>
            <div class="input-group" style="max-width: 250px">
              <input formControlName="hsn_number" class="form-control" readonly />
            </div>
          </div>
        </div>
        <div class="row ml-3">
          <div class="col-sm-6 mt-3" style="display: flex">
            <div class="labeldiv">
              <label class="pt-2" style="margin: auto">
                GST % <span class="text-danger">*</span>
              </label>
            </div>
            <div class="input-group" style="max-width: 250px">
              <input formControlName="gst_percentage" class="form-control" readonly />
              <div class="input-group-append">
                <span class="input-group-text" style="height: fit-content">%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <div class="col-sm-6">
            <div class="d-flex justify-content-center">
              <div style="width: 250px; display: flex; align-items: center">
                <button type="submit" style="width: 80px;" class="btn btn-success mr-3 btn-sm mt-4">
                  <span> {{ itemMasterDetails.value.itemid ==0 ? 'Save' :
                    'Edit'}}</span></button>
                <input (click)="cancelClick()" type="button" style="width: 80px" class="btn btn-info mt-4 btn-sm mr-3"
                  value="Clear" />
                <input (click)="backButton()" type="button" style="width: 80px" class="btn btn-danger btn-sm mt-4"
                  value="Close" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3 matcardlist">
    <mat-card-content>
      <div class="table-responsive">
        <table class="col-sm-12 table table-hover table-bordered table-sm">
          <thead class="tableheadList">
            <th>S.No</th>
            <th style="text-align: left;">Brand Name</th>
            <th style="text-align: left;">Item Name</th>
            <th style="text-align: left;">Item Group</th>
            <th>HSN/SAC</th>
            <th>GST%</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of itemMasterList; let i = index">
              <td>{{ i + 1 }}</td>
              <td style="text-align: left;">{{ item.brand_name }}</td>
              <td style="text-align: left;">{{ item.item_name }}</td>
              <td style="text-align: left;">{{ item.item_group_name }}</td>
              <td>{{ item.hsn_number }}</td>
              <td>{{ item.gst_percentage }}</td>
              <td class="tdoption">
                <span class="m-2 editbutton text-success" (click)="updateGetClick(item)"><b
                    style="cursor: pointer">edit</b></span>
                <span>||</span>
                <span class="m-2 deletebutton text-danger" (click)="deleteClick(item.itemid)"><b
                    style="cursor: pointer">delete</b></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>