<div class="container-fluid">
    <mat-card class="matcard mb-2">
        <mat-card-content>
            <div class="row">
                <div #tableTop class="col-12">
                    <h2 class="ml-1 head">Expense Entry</h2>
                </div>
            </div>
            <form [formGroup]="expenseEntryForm" (ngSubmit)="Save()">
                <div class="table-responsive mt-2">
                    <table class="col-sm-12 table-sm table table-hover table-bordered">
                        <thead class="tablehead">
                            <th>#</th>
                            <th>Expense Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Description
                                <span style="color: yellow;font-size:9px;">Maximum 250 Letter</span>
                            </th>
                            <th style="text-align: left;">Where does it Deduct ?</th>
                            <th>Action</th>
                        </thead>
                        <tbody formArrayName="newList">
                            <tr *ngFor="let chid of getCommonControls(); let i = index" formGroupName="{{ i }}">
                                <td>{{ i + 1 }}</td>
                                <td><select [ngClass]="{ 'is-invalid': isExpenseControlInvalid(i) }"
                                        formControlName="expenseid" class="form-control" required>
                                        <option disabled [ngValue]="null" selected>
                                            Please select
                                        </option>
                                        <option [ngValue]="item.expenseid" *ngFor="let item of expenseMasterList">
                                            {{ item.expense_name }}
                                        </option>
                                    </select></td>
                                <td>
                                    <input class="form-control" [ngClass]="{ 'is-invalid': isamountControlInvalid(i) }"
                                        formControlName="amount" type="text" required />
                                </td>
                                <td>
                                    <input class="form-control" [ngClass]="{ 'is-invalid': isdateControlInvalid(i) }"
                                        formControlName="date" type="date" required />
                                </td>
                                <td>
                                    <input class="form-control" formControlName="description" type="text" />
                                </td>
                                <td style="text-align: left;">
                                    <div>
                                        <input (change)="setAmountType('cash',i)" style="width: 15px;height: 15px;"
                                            type="checkbox" formControlName="ishand_cash_am" />From Hand Cash
                                    </div>

                                    <div>
                                        <input (change)="setAmountType('sale',i)" style="width: 15px;height: 15px;"
                                            type="checkbox" formControlName="issale_am" />From Sales
                                    </div>
                                </td>
                                <td>
                                    <mat-icon (click)="addNesForm()"
                                        style="color: green; cursor: pointer">add_circle</mat-icon>
                                    <mat-icon *ngIf="chid.get('entryid')?.value == 0" (click)="removeNesForm(i)"
                                        style="color: red; cursor: pointer">remove_circle</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-sm-6">
                        <div class="d-flex justify-content-center">
                            <div style="width: 250px; display: flex; align-items: center;">
                                <input type="submit" style="width: 80px" class="btn btn-success mt-4 btn-sm mr-3"
                                    value="Save" />
                                <input (click)="cancelClick()" type="button" style="width: 80px"
                                    class="btn btn-info mt-4 btn-sm mr-3" value="Clear" />
                                <input (click)="backButton()" type="button" style="width: 80px"
                                    class="btn btn-danger btn-sm mt-4" value="Close" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <mat-card class="mt-3 matcardlist">
        <mat-card-content>
            <div class="table-responsive">
                <table class="col-sm-12 table table-hover table-bordered table-sm">
                    <thead class="tableheadList">
                        <tr>
                            <th>S.No</th>
                            <th style="text-align: left;">Expense Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of expenseEntryList; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td style="text-align: left;">{{ item.expense_name }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.date}}</td>
                            <td>{{ item.description}}</td>
                            <td class="tdoption">
                                <span class="m-2 editbutton text-success  " (click)="UpdateGetClick(item)"><b
                                        style="cursor:pointer">edit</b></span>
                                <span>||</span>
                                <span class="m-2  deletebutton text-danger" (click)="deleteClick(item.entryid)"><b
                                        style="cursor:pointer">delete</b></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>